        <!-- Testimonial Section Start -->
        <div class="testimonial-section section section-padding" data-bg-color="#f5f5f5">
            <div class="container-fluid pl-80 pl-lg-15 pl-md-15 pl-sm-15 pl-xs-15 pr-80 pr-lg-15 pr-md-15 pr-sm-15 pr-xs-15">
                <!-- Section Title Start -->
                <div class="section-title text-center" data-aos="fade-up">
                    <span class="sub-title">Wanna transform your life?</span>
                    <h2 class="title fz-48">Our <span> learners'</span> verbatim</h2>
                </div>
                <!-- Section Title End -->

                <!--Testimonial Slider Start -->
                <div class="testimonial-slider-two swiper-container" data-aos="fade-up">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testimonial-two testimonial-three">
                                <div class="content">
                                    <h4 class="title">High level of efficiency and scientific teaching methods</h4>
                                    <p>I am happy with their arrangement of lessons and subjects. They reflect a scientific investigation into effective methods to adopt for learners.</p>
                                </div>
                                <div class="author-info">
                                    <div class="image">
                                        <img src="assets/images/testimonial/70/testimonial-1.jpg" alt="">
                                    </div>
                                    <div class="cite">
                                        <h6 class="name">Florence Themes</h6>
                                        <span class="position">/ Multimedia Admin</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="testimonial-two testimonial-three">
                                <div class="content">
                                    <h4 class="title">Professional team of specialists and passionate mentors at reach </h4>
                                    <p>I need to get a certification for English proficiency and MaxCoach is my best choice. Their tutors are smart and professional when dealing with students.</p>
                                </div>
                                <div class="author-info">
                                    <div class="image">
                                        <img src="assets/images/testimonial/70/testimonial-2.jpg" alt="">
                                    </div>
                                    <div class="cite">
                                        <h6 class="name">Madley Pondor</h6>
                                        <span class="position">/ IT Specialist</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="testimonial-two testimonial-three">
                                <div class="content">
                                    <h4 class="title">Highly recommend their courses and teaching system</h4>
                                    <p>I am happy with their arrangement of lessons and subjects. They reflect a scientific investigation into effective methods to adopt for learners.</p>
                                </div>
                                <div class="author-info">
                                    <div class="image">
                                        <img src="assets/images/testimonial/70/testimonial-3.jpg" alt="">
                                    </div>
                                    <div class="cite">
                                        <h6 class="name">Luvic Dubble</h6>
                                        <span class="position">/ Private Tutor</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="testimonial-two testimonial-three">
                                <div class="content">
                                    <h4 class="title">It's a choice of quality for people who need specialized study programs</h4>
                                    <p>I'm a very strict person so I require everything to be organized and neat. Then, I'll be able to make things right and shine. MaxCoach guys just got me.</p>
                                </div>
                                <div class="author-info">
                                    <div class="image">
                                        <img src="assets/images/testimonial/70/testimonial-4.jpg" alt="">
                                    </div>
                                    <div class="cite">
                                        <h6 class="name">Florence Themes</h6>
                                        <span class="position">/ Multimedia Admin</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <!--Testimonial Slider End -->
            </div>
        </div>
        <!-- Testimonial Section End -->
