   <div id="site-main-mobile-menu" class="site-main-mobile-menu">
        <div class="site-main-mobile-menu-inner">
            <div class="mobile-menu-header">
                <div class="mobile-menu-logo">
                    <a href="index.html"><img src="assets/images/logo/dark-logo.png" alt=""></a>
                </div>
                <div class="mobile-menu-close">
                    <button class="toggle">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-menu-content">
                <nav class="site-mobile-menu">
                    <ul>
                        <li class="has-children position-static">
                            <a href="#"><span class="menu-text">Home</span></a>
                            <span class="menu-toggle"><i class="far fa-angle-down"></i></span>

                            <ul class="mega-menu">
                                <li>
                                    <ul>
                                        <li><a href="index.html"><span class="menu-text">MaxCoach Education <span class="badge">Hot</span></span></a></li>
                                        <li><a href="index-2.html"><span class="menu-text">Course Portal</span></a></li>
                                        <li><a href="index-3.html"><span class="menu-text">Distant Learning <span class="badge">Hot</span></span></a></li>
                                        <li><a href="index-4.html"><span class="menu-text">Multimedia Pedagogy</span></a></li>
                                        <li><a href="index-5.html"><span class="menu-text">Modern Schooling</span></a></li>
                                        <li><a href="index-6.html"><span class="menu-text">Remote Training</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="index-7.html"><span class="menu-text">Health Coaching</span></a></li>
                                        <li><a href="index-8.html"><span class="menu-text">Gym Coaching</span></a></li>
                                        <li><a href="index-9.html"><span class="menu-text">Business</span></a></li>
                                        <li><a href="index-10.html"><span class="menu-text">Artist <span class="badge primary">New</span></span></a></li>
                                        <li><a href="index-11.html"><span class="menu-text">Kitchen Coach <span class="badge primary">New</span></span></a></li>
                                        <li><a href="index-12.html"><span class="menu-text">Motivation <span class="badge primary">New</span></span></a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-50">
                                    <ul>
                                        <li><a href="#"><img src="assets/images/menu/mega-menu.jpg" alt="menu-image"></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#"><span class="menu-text">Pages</span></a>
                            <span class="menu-toggle"><i class="far fa-angle-down"></i></span>
                            <ul class="sub-menu">
                                <li><a href="start-here.html"><span class="menu-text">Start Here</span></a></li>
                                <li><a href="success-story.html"><span class="menu-text">Success Story</span></a></li>
                                <li><a href="about-me.html"><span class="menu-text">About me</span></a></li>
                                <li><a href="about-us-1.html"><span class="menu-text">About us 01</span></a></li>
                                <li><a href="about-us-2.html"><span class="menu-text">About us 02</span></a></li>
                                <li><a href="about-us-3.html"><span class="menu-text">About us 03</span></a></li>
                                <li><a href="contact-me.html"><span class="menu-text">Contact me</span></a></li>
                                <li><a href="contact-us.html"><span class="menu-text">Contact us</span></a></li>
                                <li><a href="purchase-guide.html"><span class="menu-text">Purchase Guide</span></a></li>
                                <li><a href="privacy-policy.html"><span class="menu-text">Privacy Policy</span></a></li>
                                <li><a href="terms-of-service.html"><span class="menu-text">Terms of Service</span></a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#"><span class="menu-text">Courses</span></a>
                            <span class="menu-toggle"><i class="far fa-angle-down"></i></span>
                            <ul class="sub-menu">
                                <li><a href="courses-grid-1.html"><span class="menu-text">Courses Grid 01</span></a></li>
                                <li><a href="courses-grid-2.html"><span class="menu-text">Courses Grid 02</span></a></li>
                                <li><a href="courses-grid-3.html"><span class="menu-text">Courses Grid 03</span></a></li>
                                <li><a href="membership-levels.html"><span class="menu-text">Membership Levels</span></a></li>
                                <li><a href="become-a-teacher.html"><span class="menu-text">Become a Teacher</span></a></li>
                                <li><a href="profile.html"><span class="menu-text">Profile</span></a></li>
                                <li><a href="checkout.html"><span class="menu-text">Checkout</span></a></li>
                                <li class="has-children">
                                    <a href="course-details-sticky-feature-bar.html"><span class="menu-text">Single Layout</span></a>
                                    <span class="menu-toggle"><i class="far fa-angle-down"></i></span>
                                    <ul class="sub-menu">
                                        <li><a href="course-details-free.html"><span class="menu-text">Free Course</span></a></li>
                                        <li><a href="course-details-sticky-feature-bar.html"><span class="menu-text">Sticky Features Bar</span></a></li>
                                        <li><a href="course-details-standard-sidebar.html"><span class="menu-text">Standard Sidebar</span></a></li>
                                        <li><a href="course-details-no-sidebar.html"><span class="menu-text">No Sidebar</span></a></li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#"><span class="menu-text">Event</span></a>
                            <span class="menu-toggle"><i class="far fa-angle-down"></i></span>
                            <ul class="sub-menu">
                                <li><a href="event.html"><span class="menu-text">Event</span></a></li>
                                <li><a href="zoom-meetings.html"><span class="menu-text">Zoom Meetings</span></a></li>
                                <li><a href="event-details.html"><span class="menu-text">Event Details</span></a></li>
                                <li><a href="zoom-event-details.html"><span class="menu-text">Zoom Meeting Details</span></a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#"><span class="menu-text">Blog</span></a>
                            <span class="menu-toggle"><i class="far fa-angle-down"></i></span>
                            <ul class="sub-menu">
                                <li><a href="blog-grid.html"><span class="menu-text">Blog Grid</span></a></li>
                                <li><a href="blog-masonry.html"><span class="menu-text">Blog Masonry</span></a></li>
                                <li><a href="blog-classic.html"><span class="menu-text">Blog Classic</span></a></li>
                                <li><a href="blog-list.html"><span class="menu-text">Blog List</span></a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#"><span class="menu-text">Shop</span></a>
                            <span class="menu-toggle"><i class="far fa-angle-down"></i></span>
                            <ul class="sub-menu">
                                <li><a href="shop.html"><span class="menu-text">Shop Left Sidebar</span></a></li>
                                <li><a href="shop-right-sidebar.html"><span class="menu-text">Shop Right Sidebar</span></a></li>
                                <li><a href="shopping-cart.html"><span class="menu-text">Cart</span></a></li>
                                <li><a href="shopping-cart-empty.html"><span class="menu-text">Cart Empty</span></a></li>
                                <li><a href="wishlist.html"><span class="menu-text">Wishlist</span></a></li>
                                <li><a href="product-details.html"><span class="menu-text">Single Product</span></a></li>
                                <li><a href="my-account.html"><span class="menu-text">My Account</span></a></li>
                                <li><a href="login-register.html"><span class="menu-text">Login Register</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>