{#
<script src="{{ '/assets/js/vendor/modernizr-3.6.0.min.js' | absoluteUrl }}"></script><script src="{{ '/assets/js/vendor/jquery-3.4.1.min.js' | absoluteUrl }}"></script>
<script src="{{ '/assets/js/vendor/jquery-migrate-3.1.0.min.js' | absoluteUrl }}"></script><script src="{{ '/assets/js/vendor/bootstrap.bundle.min.js' | absoluteUrl }}"></script> #}
<script src="{{ '/assets/js/vendor/vendor.min.js' | absoluteUrl }}"></script>


<script src="{{ '/assets/js/plugins/plugins.min.js' | absoluteUrl }}"></script>
<script src="{{ '/assets/js/main.js' | absoluteUrl }}"></script>
<script src="{{ '/assets/scripts/main.js' | absoluteUrl }}"></script>
 <script src="https://widgets.mindbodyonline.com/javascripts/healcode.js" type="text/javascript"></script>