       <!-- About Section Start -->
        <div class="about-section section section-padding-top-190 section-padding-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 order-lg-1 order-2">
                        <div class="about-content mt-sm-50 mt-xs-50">
                            <span class="sub-title">Get to know about <strong>MaxCoach</strong></span>
                            <h2 class="title">Learn about our <span>Work Culture</span> at MaxCoach</h2>
                            <p>Spend some time to visit our website or head office and discover our current courses, enrollment procedure, and registration deadline. We're opening new classes every beginning of each month. </p>
                            <a class="link link-lg" href="JavaScript:Void(0);"> Have questions?​ <mark>Get Free Form <i class="far fa-long-arrow-right"></i></mark></a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 order-lg-1 order-1">
                        <div class="about-image">
                            <div class="about-image-one">
                                <img src="assets/images/about/about01/about1.jpg" alt="about01">
                            </div>
                            <div class="about-image-two">
                                <img src="assets/images/about/about01/about2.jpg" alt="about02">
                            </div>


                            <!-- Animation Shape Start -->
                            <div class="shape shape-1 scene">
                                <span data-depth="4">shape 1</span>
                            </div>
                            <div class="shape shape-2 scene">
                                <span data-depth="4"><img src="assets/images/shape-animation/about-shape-1.png" alt=""></span>
                            </div>
                            <div class="shape shape-3 scene">
                                <span data-depth="4"><img src="assets/images/shape-animation/nwesletter-shape-2.png" alt=""></span>
                            </div>
                            <div class="shape shape-4 scene">
                                <span data-depth="4"><img src="assets/images/shape-animation/shape-1.png" alt=""></span>
                            </div>
                            <!-- Animation Shape End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Section End -->