<!-- About Section Start -->
<div class="about-section section {% if pageSection.padBottom %}section-padding-bottom {% endif %} {% if pageSection.padTop %}section-padding-top {% endif %}" {% if  pageSection.bkgrdOpts %} data-bg-color="{% if pageSection.bkgrdOpts.customColor %}{{ pageSection.bkgrdOpts.customColor  }}{% else  %}{{ pageSection.bkgrdOpts.backgroundColor.value }}{% endif %}" {% endif %}>
    <div class="container">
        <div class="row align-items-center">
            {% if pageSection.picLocation == 'leftPic' %}
                {% set picOrder1 = 'order-lg-2' %}
            {%elseif  pageSection.picLocation == 'rightPic'%}
                {% set picOrder1 = 'order-lg-1' %}
            {% endif %}
            <div class="col-lg-6 col-md-12 {{picOrder1}} order-2 animate__animated animate__bounceInUp animate__delay-200ms">
                <div class="about-content mt-sm-50 mt-xs-50">
                    {# <span class="sub-title">Get to know about <strong>MaxCoach</strong></span> #}
                    {% if pageSection.heading %}
                        <h3 class="title">{{pageSection.heading}}</h3>
                    {% endif %}

                    {% if pageSection.mainContent %}
                        <p>{{pageSection.mainContent | blocksToHtml | safe }}
                        </p>
                    {% endif %}

                </div>
            </div>
            {% if pageSection.picLocation == 'leftPic' %}
                {% set picOrder2 = 'order-lg-1' %}
            {%elseif  pageSection.picLocation == 'rightPic'%}
                {% set picOrder2 = 'order-lg-2 ' %}
            {% endif %}
            <div class="col-lg-6 col-md-12 {{picOrder2}} order-1">

                <div class="about-image animate__animated animate__bounceInUp animate__delay-1000ms">
                    {% if pageSection.picImages %}
                        {% for pic in pageSection.picImages %}
                            {% if loop.first %}
                                <div class="about-image-{{loop.index}}">
                                    <img src="{% imageUrl pic.url , 570 %}" alt="{{pic.alt}}">
                                </div>
                            {% endif %}
                            {% if loop.last and loop.length > 1 %}
                                <div class="about-image-{{loop.index}}">
                                    <img src="{% imageUrl pic.url , 215,250 %}" alt="{{pic.alt}}">
                                </div>
                            {% endif %}

                        {% endfor %}
                    {% endif %}
                    {% if pageSection.picIcons %}
                        <!-- Animation Shape Start -->
                        <div class="shape shape-1 scene">
                            <span data-depth="4">shape 1</span>
                        </div>

                        {% for icon in pageSection.picIcons.icons %}
                            <div class="shape shape-{{loop.index + 1}} scene">
                                <span data-depth="4"><img src="{% imageUrl icon.icon.asset %}" alt="{{icon.heading}}"></span>
                            </div>

                        {% endfor %}
                    {% endif %}

                    {# <div class="shape shape-3 scene">
                        <span data-depth="4"><img src="/assets/images/shape-animation/nwesletter-shape-2.png" alt=""></span>
                    </div>
                    <div class="shape shape-4 scene">
                        <span data-depth="4"><img src="/assets/images/shape-animation/shape-1.png" alt=""></span>
                    </div> #}
                    <!-- Animation Shape End -->
                </div>

            </div>
        </div>
    </div>
</div>
<!-- About Section End -->