    <!-- About Video Section Start -->
        <div class="about-video-section section section-padding-bottom">

            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <!-- About Me Video Wrapper Start -->
                        <div class="about-me-video-wrapper about-us-one-video pr-55 pr-sm-0 pr-xs-0">

                            <!-- About Me Video Start -->
                            <a href="https://www.youtube.com/watch?v=eS9Qm4AOOBY" class="about-me-video video-popup" data-aos="fade-up">
                                <img class="image" src="assets/images/video/about-video.jpg" alt="">
                                <img class="icon" src="assets/images/icons/icon-youtube-play.png" alt="">
                            </a>
                            <!-- About Me Video End -->

                            <!-- Animation Shape Start -->
                            <div class="shape shape-1 scene">
                                <span data-depth="3">
                                    <img src="assets/images/shape-animation/shape-2.svg" alt="" class="svgInject">
                                </span>
                            </div>
                            <div class="shape shape-2 scene">
                                <span data-depth="-3"><img src="assets/images/shape-animation/shape-3.png" alt=""></span>
                            </div>
                            <div class="shape shape-3 scene">
                                <span data-depth="4">shape 3</span>
                            </div>
                            <div class="shape shape-4 scene">
                                <span data-depth="4"><img src="assets/images/shape-animation/shape-1.png" alt=""></span>
                            </div>
                            <!-- Animation Shape End -->

                        </div>
                        <!-- About Me Video Wrapper End -->
                    </div>

                    <div class="col-lg-4">
                        <div class="about-content mt-sm-50 mt-xs-50">
                            <span class="sub-title">how we work</span>
                            <h2 class="title">Upgrade Your Skills <span>Upgrade Your Life</span> </h2>
                            <p>Spend some time to visit our website or head office and discover our current courses, enrollment procedure, and registration deadline. We're opening new classes every beginning of each month. </p>
                            <a class="link link-lg" href="JavaScript:Void(0);"><mark>Download free guidebook <i class="far fa-long-arrow-right"></i></mark></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- About Video Section End -->
