{% macro infoColBox(mainImage = '', slug = '', category = '', title = '', excerpt = '', publishedAt = '', cta = '', slide , delay='1') %}

    <div class="{% if slide %}swiper-slide {% else %}col {% endif -%} max-mb-30 max-mb-n30 animate__animated animate__fadeInUp animate__delay-{{delay+1}}00ms animate__slow" >
        <div class="blog">
            <div class="thumbnail ">
                <a  {% if cta %} href="{{ cta.link }}" {% if cta.openInNewTab %} target="_blank" {% endif %} {% endif %}    class="image">
                    <img src="{% if mainImage %}{% imageUrl mainImage.url, 350 , 250 %}{% else %}/assets/images/blog/370/blog-1.jpg{% endif %}" class="lazyload" alt="{{mainImage.alt}}" data-sizes="auto">
                </a>
            </div>
            <div class="info animate__animated animate__fadeInUp animate__slow animate__delay-{{delay+2}}00ms">

                {% if category %}
                    <span class="category">{{category}}</span>
                {% endif %}

                <ul class="meta">
                    {% if publishedAt %}

                        <li>
                            <i class="far fa-calendar"></i>{{ publishedAt | isoDateForm  }}</li>
                    {% endif %}
                    {# <li><i class="far fa-eye"></i>70 views</li> #}
                </ul>
                {% if title %}
                    <h3 class="title">
                        {% if cta %}
                            <a  href="{{ cta.link }}" {% if cta.openInNewTab %} target="_blank" {% endif %}  >
                            {% endif %}
                            {{ title }}
                            {% if cta %}
                            </a>
                        {% endif %}
                    </h3>
                {% endif %}
                {% if excerpt %}
                    <p>{{excerpt  | safe }}</p>
                {% endif %}
                {% if cta %}
                    <a href="{{ cta.link }}" {% if cta.openInNewTab %} target="_blank" {% endif %} class="btn btn-primary btn-hover-secondary">{{ cta.title }}</a>
                {% endif %}

            </div>
        </div>
    </div>
{% endmacro %}

<!-- Press Section Start -->



<div class="section section-padding" {% if  pageSection.bkgrdColor %} data-bg-color="{% if pageSection.bkgrdColor.customColor %}{{ pageSection.bkgrdColor.customColor  }}{% else  %}{{ pageSection.bkgrdColor.backgroundColor.value }}{% endif %}" {% endif %}>
    <div class="container">
        <!-- Section Title Start -->
        <div class="section-title text-center" >

            {% if pageSection.title %}
                <h2 class="title  ">{{pageSection.title}}</h2>
            {% endif %}
            {% if pageSection.pressIntro %}
                <p>{{pageSection.pressIntro | blocksToHtml | safe }}
                </p>
            {% endif %}
        </div>
        <!-- Section Title End -->
        <!-- Press Wrapper Start -->
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 max-mb-n30">

            {% for artcle in press %}
                {% if pageSection.pressBlockCount == '3' %}
                    {% if loop.index <= 3 %}

                        {{ infoColBox(
                        mainImage=artcle.featuredImage,
                        slug=artcle.slug,
                        category=artcle.category,
                        delay=loop.index+3,
                        title=artcle.title,
                        excerpt=artcle.excerpt,
                        publishedAt=artcle.publishedAt,
                        cta=artcle.cta)
                        }}
                    {% endif %}

                {% elseif pageSection.pressBlockCount == 'all' %}

                    {{ infoColBox(
                        mainImage=artcle.featuredImage,
                        slug=artcle.slug,
                        category=artcle.category,
                        title=artcle.title,
                         delay=loop.index+3,
                        excerpt=artcle.excerpt,
                        publishedAt=artcle.publishedAt,
                        cta=artcle.cta)
                        }}
                {% endif %}

            {% endfor %}
        </div>

        {% if pageSection.pressBlockCount == 'slider' %}
            <div class="courses-slider swiper-container" >
                <div class="swiper-wrapper">
                    {% for artcle in press %}
                        {{ infoColBox(mainImage=artcle.featuredImage,
                        slug=artcle.slug,
                        category=artcle.category,
                        title=artcle.title,
                        excerpt=artcle.excerpt,
                        publishedAt=artcle.publishedAt,
                        cta=artcle.cta,
                        slide=true)
                        }}
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
            </div>

        {% endif %}

        <!-- Blog Wrapper End -->

        {# <!-- Pagination Start -->
        <div class="row max-mt-50">
            <div class="col">

                <ul class="pagination center">
                    <li>
                        <a href="#" class="prev">PREV</a>
                    </li>
                    <li>
                        <a href="#" class="active">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#" class="next">NEXT</a>
                    </li>
                </ul>

            </div>
        </div>
        <!-- Pagination End --> #}

    </div>
</div>
<!-- Press Section End -->