<!-- Course Start -->
<div class="col max-mb-30" >
    <div class="course-2" >
        <div class="thumbnail">
            <a href="/schedule/" class="image">
                <img src="{% if class.classImage %}{% imageUrl class.classImage, 1170 , 400 %}{% else %}/assets/images/page-banner/artist-event.jpg{% endif %}" class="lazyload" data-sizes="auto">
            </a>
        </div>
        <div class="info">
            {% if class.price %}
                <span class="price">Free</span>
            {% endif %}

            {# <span class="date">Dec 23, 2019</span> #}
            {% if class.className %}
                <h2 class="title text-color-purple-light ">
                    <a href="/schedule/">{{class.className}}</a>
                </h2>
            {% endif %}
            {% if class.classDescription %}
                <div class="class-decription">
                    {{class.classDescription | blocksToHtml | safe }}
                </div>

            {% endif %}

            <div class="teacher-wrapper" x-data="dancerLoop({{class.classChoreographers.length}})" x-init="loop">
                {# {{class.classVideo  }} #}
                <div class="teacher">

                    <div class="videoWrapper"  >
                        {% for dancer in class.classChoreographers %}
                            <video autoplay x-show="activeDancer == {{loop.index}}"  x-ref="dancer-{{loop.index}}"    playsInline
                                webkit-playsinline="true"
                                muted
                                loop>
                                <source src="{{dancer.coverVideo.url}}" type="video/mp4">
                                {# <source src="media/shuttle.ogv" type="video/ogg"> #}
                                Your browser does not support the HTML5 Video element.
                            </video>

                        {% endfor %}
                    </div>
                </div>
                <div class="choeargrapher-block">
                    <div class="squilly">
                        <svg width="100%" height="21" viewBox="0 0 265 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 3.5567L12.0072 10.9009C19.5302 17.8011 31.0262 17.9806 38.761 11.3188V11.3188C46.3145 4.81311 57.5955 4.90299 65.149 11.4087V11.4087C72.8235 18.0185 84.2851 18.1098 91.9595 11.5V11.5C99.634 4.89016 110.99 4.89016 118.664 11.5V11.5V11.5C126.338 18.1098 137.8 18.0185 145.475 11.4086V11.4086C153.028 4.903 164.309 4.81305 171.862 11.3187L172.44 11.8164C179.846 18.1944 190.852 18.0224 198.054 11.4161V11.4161C205.178 4.88166 216.04 4.6332 223.455 10.835L224.605 11.7972C232.368 18.2894 243.657 18.3194 251.454 11.8685L261.5 3.5567" stroke="#FF7BE3" stroke-width="7" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <div class="choeargrapher-names">
                        <ul>

                            {% if class.classChoreographers %}
                                {% for dancer in class.classChoreographers %}
                                    <li>
                                        <a href="{{'#'}}"
                                        @mouseover="hoverMe({{loop.index}})" @mouseout="loop"
                                        :class="activeDancer == {{loop.index}} ? 'active' : ''">
                                            {% if dancer.nickname %}
                                                {{dancer.nickname}}
                                                {%else%}
                                                {{dancer.fullname.firstName}}
                                            {% endif %}

                                        </a>
                                    </li>
                                {% endfor %}
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="pass-footer">
            <a class="btn btn-blue btn-hover-blue-50 btn-long" href="#">Learn More</a>

            {% if class.classLink %}

                <a class="btn btn-hot-pink-light btn-hover-hot-pink-light-50 btn-long" href="{% if class.classLink.link %}{{class.classLink.link | url }}{%elseif class.classLink.internal%}/{{class.classLink.internal  }}{%elseif class.classLink.route%}/{{class.classLink.route}}{% endif %}" {% if class.classLink.openInNewTab %}target="_blank"{% endif %}>{{class.classLink.title}}
                </a>
            {% endif %}
        </div>
    </div>
</div>
<!-- Course End -->