<div class="section-title text-center mb-95">
    <h2>{{passHeadline}}</h2>
    <p>{{ passIntro | blocksToHtml | safe }}</p>
</div>
<!-- Pass Wrapper Start -->
<div class="row row-cols-xl-3 row-cols-lg-3 row-cols-md-1 row-cols-1 max-mb-n30 justify-content-center">
    {# pink prime #}
    <div class="col section-padding-bottom-70">
        <div class="price-item mb-30">
            <div class="price-image bg-pink-prime text-white">
                <h4>This is where </h4>
            </div>
            <div class="pricing-content bg-pink-prime-l50 ">
                <div class="price-circle text-pink-prime-d30 ">
                    <h3>$260</h3>
                </div>
                <ul class="text-pink-prime-d30">
                    <li>Breast Augmentation</li>
                    <li>Mommy Makeover</li>
                    <li>Eyelid Surgery</li>
                    <li>Skin Care Treatments</li>
                    <li>Chin Augmentation</li>
                </ul>
                <a href="#" class="btn btn-pink-prime btn-hover-pink-prime-d50 btn-lg">Start Now</a>
            </div>
        </div>
    </div>
    {# Purple #}
    <div class="col section-padding-bottom-70">
        <div class="price-item ">
            <div class="price-image bg-purple text-white">
                <h4>This is where the title goes</h4>
            </div>
            <div class="pricing-content bg-purple-light ">
                <div class="price-circle text-purple-d10 ">
                    <h3>$260</h3>
                </div>
                <ul class="text-purple">
                    <li>Breast Augmentation</li>
                    <li>Mommy Makeover</li>
                    <li>Eyelid Surgery</li>
                    <li>Skin Care Treatments</li>
                    <li>Chin Augmentation</li>
                </ul>
                <a href="#" class="btn btn-purple btn-hover-purple-d50 btn-lg">Start Now</a>
            </div>
        </div>
    </div>

    {# Blue #}
    <div class="col section-padding-bottom-70">
        <div class="price-item max-mb-30">
            <div class="price-image bg-blue text-white">
                <h4>This is where the title goes  youoiu
                               ijuiuilu
                               kljlkjl </h4>
            </div>
            <div class="pricing-content bg-blue-l50 ">
                <div class="price-circle text-blue-d10 ">
                    <h3>$260</h3>
                </div>
                <div class="price-text">

                    <div class="price-description text-blue-d50">
                        <p>An small descriptions can go here An small descriptions can go hereAn small descriptions can go here An small descriptions can go here</p>
                    </div>

                    <ul class="text-blue-d50">
                        <li>Breast Augmentation</li>
                        <li>Mommy Makeover</li>
                        <li>Eyelid Surgery</li>
                        <li>Skin Care Treatments</li>
                        <li>Chin Augmentation</li>
                    </ul>
                </div>
                <a href="#" class="btn btn-blue btn-hover-blue-d50 btn-lg">Start Now</a>
            </div>
        </div>
    </div>
    {# orange section #}
    <div class="col section-padding-bottom-70">
        <div class="price-item mb-30">
            <div class="price-image bg-ceren-orange text-white">
                <h4>This is where the title goes  youoiu
                               ijuiuilu
                               kljlkjl </h4>
            </div>
            <div class="pricing-content bg-ceren-orange-l50 ">
                <div class="price-circle text-ceren-orange-d10 ">
                    <h3>$260</h3>
                </div>
                <div class="price-text">

                    <div class="price-description text-ceren-orange-d50">
                        <p>An small descriptions can go here An small descriptions can go hereAn small descriptions can go here An small descriptions can go here</p>
                    </div>

                    <ul class="text-ceren-orange-d50">
                        <li>Breast Augmentation</li>
                        <li>Mommy Makeover</li>
                        <li>Eyelid Surgery</li>
                        <li>Skin Care Treatments</li>
                        <li>Chin Augmentation</li>
                    </ul>
                </div>
                <a href="#" class="btn btn-ceren-orange btn-hover-ceren-orange-d50 btn-lg">Start Now</a>
            </div>
        </div>
    </div>

</div>
<!-- Pass Wrapper End -->