{% for pageSection in thisPage.pageSections %}
  {% if not pageSection.disabled %}

    {% if pageSection._type == 'pageTitleSection' %}
      {% set title = pageSection.title %}
      {% include "page/page-title.njk" %}
    {% elseif pageSection._type == 'heroSection' %}
      {% include "hero/hero-plain.njk" %}
    {% elseif pageSection._type == 'heroSliderSection' %}
      {% include "hero/hero-slider.njk" %}
    {% elseif pageSection._type == 'picContentSection' %}
      {% include "pictext/pic-text.njk" %}
    {% elseif pageSection._type == 'richTextSection' %}
      {% include "partials/richText.njk" %}
    {% elseif pageSection._type == 'timelineSection' %}
      {% include 'partials/timeline.njk' %}
    {% elseif pageSection._type == 'loveClubSection' %}
      {% include 'partials/blogPost.njk' %}
    {% elseif pageSection._type == 'dancerSection' %}
      {% include 'partials/cheographer.njk' %}
    {% elseif pageSection._type == 'pressSection' %}
      {% include 'press/pressList.njk' %}
    {% elseif pageSection._type == 'testimonialSection' %}
      {% include "testimonials/testimonals-2.njk" %}
    {% elseif pageSection._type == 'faqSection' %}
      {% include 'partials/faq.njk' %}
    {% elseif pageSection._type == 'infoBoxSection' %}

      {% include "partials/infoBoxes.njk" %}
    {% elseif pageSection._type == 'classMenuSection' %}
      {% include 'class/classMenu.njk' %}
    {% elseif pageSection._type == 'classPassSection' %}
      {% include 'class/classPass.njk' %}
    {% elseif pageSection._type == 'classScheduleSection' %}

      {% include 'class/classSchedule.njk' %}

    {% elseif pageSection._type == 'contactSection' %}
      {% include 'contact/contact-sec.njk' %}
    {% endif %}
    {# <p> pageSection._type:  {{pageSection._type}}</p> #}
  {% endif %}
{% endfor %}