        <!-- CTA Section Start -->
        <div class="cta-section section section-padding-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="cta-content-area">
                            <!-- Section Title Start -->
                            <div class="section-title text-center mb-0" data-aos="fade-up">
                                <span class="sub-title secondary-color max-mb-30">Get yourself a <strong>MaxCoach</strong>  ID?</span>
                                <h2 class="title heading-color max-mb-30">Take your interest and register an online class <br> today to enjoy life fully</h2>
                                <a href="JavaScript:Void(0);" class="btn btn-primary btn-hover-secondary btn-width-300"> Get started for free</a>
                            </div>
                            <!-- Section Title End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CTA Section End -->