<!-- Cheographer Section Start -->

<div class="dancer-section section section-padding" x-data="choreographerBoxes" >
    <div class="container">
        <div class="intro text-center max-pb-30 max-pt-30 text-primary">
            {% if pageSection.headline %}
                <h2>{{pageSection.headline}}</h2>
            {% endif %}
            <p>{{pageSection.mainContent}}</p>
        </div>
        {% set dancers = choreographer %}
        {# {% debug dancers %} #}
        {% set rowloop = 1 %}
        {% set contentloop = 1 %}
        {% for dancer in dancers | randomize | batch(4) %}
            <div class="d-container">
                {% for item in dancer %}
                    {% set dcnID = item._id | truncate(7, false, '') %}
                    <div class=" but item{{loop.index }}" :class="openedIndex == {{rowloop }} ? 'selected ' : ''"
                    @mouseLeave="stopVideo(`vid-{{dcnID}}`);" @mouseenter="playVideo(`vid-{{dcnID}}`);" @click="openedIndex == {{rowloop }} ? openedIndex = -1 : openedIndex = {{rowloop }}; scrollToContent(d{{dcnID}});" x-ref="d{{dcnID}}">
 <figure x-show=" currentVid != 'vid-{{dcnID}}'">
                            <img src="{% if item.coverImage %}{% imageUrl item.coverImage , 400 , 400 %}{% else %}/assets/images/page-banner/artist-event.jpg{% endif %}" class="lazyload" data-sizes="auto">
                        </figure>
                        {% if item.coverVideo.url %}
                            <div class="dancer-name" x-show="currentVid == 'vid-{{dcnID}}' ">
                                <h6>{{item.nickname }}</h6>
                            </div>
                            <div class="video" x-show="currentVid == 'vid-{{dcnID}}' ">
                                <video
                            x-ref=vid-{{dcnID}}
                            autoPlay
                            playsInline
                            webkit-playsinline="true"
                            muted
                            loop
                            >
                                    <source src="{{item.coverVideo.url}}" type="video/mp4">

                                Your browser does not support the HTML5 Video element.
                    </video>
                            </div>
                        {% endif %}


                    </div>
                    {# {% set rowloop = rowloop + 1 %}
                {% endfor %}
                {% for item2 in dancer %} #}
                    <div class="item cont cont{{loop.index }} item5" x-transition:enter="expanded"
      x-transition:leave="closed" x-show="openedIndex == {{rowloop}}"  id="d{{dcnID}}">
                        {% if item.coverVideo.url %}
                            {# <div class="inline-video" x-show="openedIndex == {{rowloop}};"  @mouseLeave="stopVideo(`in-vid-{{dcnID}}`);" @mouseenter="playVideo(`in-vid-{{dcnID}}`);" > #}
                            <div class="inline-video" x-show="openedIndex == {{rowloop}};" >
                                <video
                                x-ref=in-vid-{{dcnID}}
                            autoPlay
                            playsInline
                            webkit-playsinline="true"
                            muted
                            loop
                            >
                                    <source src="{{item.coverVideo.url}}" type="video/mp4">
                                Your browser does not support the HTML5 Video element.
                    </video>
                            </div>
                        {% else %}
                            <div class="img" >
                                <figure>
                                    <img src="{% if item.coverImage %}{% imageUrl item.coverImage , 400 , 400 %}{% else %}/assets/images/page-banner/artist-event.jpg{% endif %}" class="lazyload" data-sizes="auto">
                                </figure>
                            </div>
                        {% endif %}
                        {% if item.quote.body %}
                            <div class="underPic">

                                <blockquote>
                                    <i>
                                        <b>{{item.quote.body | blocksToHtml | safe }}</b>
                                        <span>-  {{item.quote.author | safe }}</span></i>
                                </blockquote>

                            </div>
                        {% endif %}
                        <div class="content" >
                            <h2>{{item.nickname }}</h2>
                            {% set social = item.social %}
                            {% set spotifyUrl = item.spotifyUrl %}
                            {% include "partials/social-inline.njk" %}

                            {{ item.bio | blocksToHtml | safe }}
                            <div class="dancer-bottom">
                                {% if item.dancerClass.length > 0%}

                                    <div class="classes">
                                        <strong class="text-primary">Current Classes</strong><br>

                                        <ul>
                                            {% for class in item.dancerClass %}
                                                <li>{{class}}</li>
                                            {% endfor %}
                                        </ul>
                                        <a href="/schedule" >
                                            <i class="fa fa-calendar"></i>
                                            <span>View Schedule</span></a>
                                    </div>
                                {% endif %}
                                {% if item.bands %}

                                    <div class="bands">
                                        <strong class="text-primary">Favorite Bands</strong><br>
                                        <ul>
                                            {% for band in item.bands %}
                                                <li>{{band}}</li>
                                            {% endfor %}
                                        </ul>
                                        {% if item.spotifyUrl %}
                                            <a href="{{item.spotifyUrl}}" target="_blank">
                                                <i class="fab fa-spotify"></i>
                                                <span>View Playlist</span></a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% set rowloop = rowloop + 1 %}
                    {# {% set contentloop = contentloop + 1 %} #}
                {% endfor %}

            </div>

        {% endfor %}

    </div>
</div>