   <!-- Header Top Section Start -->
        <div class="header-top-section section" data-bg-color="#f5f5f5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 offset-xl-2">
                        <div class="header-top-content">
                            <p>Starts TOMORROW! Our biggest event of the year...</p>
                            <div class="header-top-countdown">
                                <div class="ht-icon"><i class="far fa-clock"></i></div>
                                <div class="pro-countdown-2 d-flex" data-countdown="2020/10/17"></div>
                            </div>
                            <a class="btn btn-primary btn-hover-secondary btn-xs" href="#">Get ticket</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Top Section Start -->