<div class="section">
    <div class="container">
        <div class="row ">

            <div class=" col-12 max-mb-50">
                {# <div class=" mt-sm-50 mt-xs-50"> #}
                <div >
                    {% if pageSection.heading %}
                        <h3 class="title">{{pageSection.heading}}</h3>
                    {% endif %}
                    {% if pageSection.mainContent %}
                        <p>{{pageSection.mainContent | blocksToHtml | safe }}
                        </p>
                    {% endif %}

                </div>
            </div>

        </div>
    </div>
</div>