<div class="social-inline white">
    {% for itm in social %}

        {% if itm._type == 'socialSiteFacebook' %}
            <a href="{{itm.facebookUrl}}"  target="_blank">
                <i class="fab fa-facebook-square"></i>
            </a>
        {% endif %}
        {% if itm._type == 'socialSiteInstagram' %}
            {% if itm.instagramUrl !== undefined %}
            <a href="{{itm.instagramReelUrl}}" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
        {% endif %}
        {% if itm.instagramReelUrl !== undefined %}
            <a href="{{itm.instagramReelUrl}}" target="_blank">
                <i class="fa-solid fa-clapperboard"></i>
            </a>
        {% endif %}
    {% endif %}

    {% if itm._type == 'socialSiteTwitter' %}
        <a href="{{itm.twitterUrl}}" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
    {% endif %}
{% endfor %}

{% if spotifyUrl %}
    <a href="{{spotifyUrl}}" target="_blank">
        <i class="fab fa-spotify"></i>
        <span>Spotify Playlist</span></a>
{% endif %}

</div>