
   <div class="social-inline white">
   {% for itm in social %}
 {% if itm._type == 'socialSiteFacebook' %}
      <a href="#"><i class="fab fa-facebook-square"></i></a>
   {% endif %}
   {% if itm._type == 'socialSiteInstagram' %}
       <a href="#"><i class="fab fa-instagram"></i></a>
   {% endif %}
   {% if itm._type == 'socialSiteTwitter' %}
        <a href="#"><i class="fab fa-twitter"></i></a>
   {% endif %}
   {% endfor %}

   {% if spotifyUrl %}
       <a href="{{spotifyUrl}}" target="_blank"><i class="fab fa-spotify"></i><span>Spotify Playlist</span></a>
   {% endif %}

</div>
