<!DOCTYPE html>
<html lang="{{ meta.lang }}"  {%- if htmlClass %} class="{{ htmlClass }}"{% endif  -%}>
<head>

    {% include "meta.njk" %}
    {% include "theme-style.njk" -%}
</head>
<body  {%- if bodyClass %} class="{{ bodyClass }}"{% endif  -%}>
    <div hidden>{% iconsprite %}</div>

    <div id="page" role="document">
    {%- block headerNav -%}
    {% include "header.njk" -%}
    {%- endblock %}
        <main id="main" class="main" tabindex="-1">
            {{ content | safe }}
        </main>
    {% include "footer.njk" %}
    {% include "page/upArrow.njk" %}

    </div>

     {%- include "mobile-menu.njk" %}
     {%- include "theme-scripts.njk" %}
    {%- for script in addtionaljs %}
    <script src="{{ script | url }}"></script>
    {%- endfor %}
    {%- block addtionaljs %}{% endblock %}
    {# {%- if GA_ID %}
    <script src="{{ '/assets/js/cached.js' | url }}"></script>
    <script src="{{ '/assets/js/web-vitals.js' | url }}"></script>
    {% endif -%} #}
    {# <script type="text/javascript">
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/serviceworker.js')
        }
    </script> #}
</body>
</html>