    <!-- Contact Information Section Start -->
       {%set ci =  sections.footer.contactInfo %}
       {%set cp =  thisPage.pageSections[0] %}
        <div class="contact-information-section section section-padding animate__animated animate__fadeInUp animate__slow">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="contact-title">
                            <span class="sub-title">{{cp.contactSubTitle}}</span>
                            <h2 class="title">{{cp.contactTitle}}</h2>
                        </div>

                        <div class="contact-info-wrap max-mb-n50">
                            <!-- Single Contact Info Start -->
                            <div class="contact-info max-mb-50">
                                <div class="icon">
                                    <i class="fal fa-map-marker-alt"></i>
                                </div>
                                <div class="info">
                                    <h4 class="title"> Address</h4>
                                    <span class="info-text">
                                    {{ci.companyAddress}}  </span>
                                </div>
                            </div>
                            <!-- Single Contact Info End -->

                            <!-- Single Contact Info Start -->
                            <div class="contact-info max-mb-50">
                                <div class="icon">
                                    <i class="fal fa-phone"></i>
                                </div>
                                <div class="info">
                                    <h4 class="title"> Contact</h4>
                                    <span class="info-text"> Phone: <strong>{{ci.companyPhone}}</strong><br>
                                        Mail: <a href="mailTo:{{ci.companyEmail}}">{{ci.companyEmail}}</a>
                                    </span>
                                </div>
                            </div>
                            <!-- Single Contact Info End -->
                            <!-- Single Contact Info Start -->
                            <div class="contact-info max-mb-50">
                                <div class="icon">
                                    <i class="fal fa-envelope"></i>
                                </div>
                                <div class="info">
                                    <h4 class="title">Additonal Contact</h4>
                                    <span class="info-text">

                                        {% for contact in ci.additionalContacts %}

                                            <strong>{{contact.name | safe }}</strong><br>
                                           <a href="{{contact.email.link}}" target="_blank">
                                            {{contact.email.title}}</a> <br>

                                        {% endfor %}

                                    </span>
                                </div>
                            </div>
                            <!-- Single Contact Info End -->

                            <!-- Single Contact Info Start -->
                            <div class="contact-info max-mb-50">
                                <div class="icon">
                                    <i class="fal fa-clock"></i>
                                </div>
                                <div class="info">
                                    <h4 class="title"> Hour of operation</h4>
                                    <span class="info-text">
                                    {% for day in cp.contactHoursFull %}
                                    <strong class="title">{{day.day}}:</strong> {{day.time}}
                                    {% endfor %}

                                    </span>
                                </div>
                            </div>
                            <!-- Single Contact Info End -->
                        </div>

                    </div>
                    <div class="col-lg-8">
                        <div class="contact-image mt-50 mt-sm-50 mt-xs-50">
                            <img src="{% if cp.contactPhoto %}{% imageUrl cp.contactPhoto , 770 , 770 %}{% else %}/assets/images/contact/contact.jpg{% endif %}" class="lazyload" data-sizes="auto">

                            <!-- Animation Shape Start -->
                            <div class="shape shape-1 scene">
                                <span data-depth="3">
                                    <img src="/assets/images/shape-animation/about-shape-1.png" alt="">
                                </span>
                            </div>
                            <div class="shape shape-2 scene">
                                <span data-depth="-3"><img src="/assets/images/shape-animation/about-shape-1.png" alt=""></span>
                            </div>
                            <div class="shape shape-3 scene">
                                <span data-depth="4">shape 3</span>
                            </div>
                            <div class="shape shape-4 scene">
                                <span data-depth="4"><img src="/assets/images/shape-animation/shape-1.png" alt=""></span>
                            </div>
                            <div class="shape shape-5 scene">
                                <span data-depth="4"><img src="/assets/images/shape-animation/nwesletter-shape-2.png" alt=""></span>
                            </div>
                            <!-- Animation Shape End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact Information Section End -->
