   <!-- Newsletter Section Start -->
        <div class="newsletter-section section section-padding position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="newsletter-content">
                            <h2 class="title">Sign up for our <span>Newsletters</span></h2>
                            <p>Enter your email address to register to our newsletter subscription <br class="d-none d-md-block">delivered on a regular basis! </p>
                            <div class="newsletter-form">
                                <form action="#">
                                    <input type="email" placeholder="Your E-mail">
                                    <button class="btn btn-primary btn-hover-secondary">Subscribe</button>
                                </form>
                            </div>

                            <!-- Animation Shape Start -->
                            <div class="shape shape-1 scene">
                                <span data-depth="4">shape 3</span>
                            </div>
                            <div class="shape shape-2 scene">
                                <span data-depth="4"><img src="assets/images/shape-animation/nwesletter-shape-1.png" alt=""></span>
                            </div>
                            <div class="shape shape-3 scene">
                                <span data-depth="4"><img src="assets/images/shape-animation/nwesletter-shape-2.png" alt=""></span>
                            </div>
                            <!-- Animation Shape End -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Newsletter Section End -->
